<div>
  <div class="post">
    <h1>{{cat-name}} Index</h1>
    <ul class="org-ul">
      {{#posts}}
        <li>
          <span>
          {{date}}&nbsp;&nbsp;»&nbsp;&nbsp;<a href="{{post-uri}}">{{post-title}}</a>
          </span>
          {{#tag-links}}
          <span class="tags-links">{{{tag-links}}}</span>
          {{/tag-links}}
        </li>
      {{/posts}}
    </ul>
  </div>
</div>